$primary: #5e42a6;
$secondary: #b74e91;
$text-color: #666666;

.edu {
  width: 100%;
  margin: 10% auto 5% 0;
  h1 {
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7%;
  }

  .degree-info {
    padding-left: 0;
    padding-right: 0;
    background: $text-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    em {
      font-size: small;
      font-weight: lighter;
    }

    .institution {
      h3 {
        font-weight: bold;
        font-size: xx-large;
      }

      h6 {
        margin-top: 3%;
        font-weight: normal;
      }
    }
  }
}