$primary: #5e42a6;
$secondary: #b74e91;
$text-color: #666666;

.interests {
  width: 75%;
  margin: 10% auto 5% 0;

  h1 {
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7%;
  }

  .interests-text {
    background: $text-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 3%;
    font-weight: normal;
    line-height: 150%;
  }

}