.logo_style {
  height: 40px;
  vertical-align: middle;
  animation: logo infinite 20s linear;
}


@keyframes logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}