$primary: #5e42a6;
$secondary: #b74e91;
$text-color: #666666;


.about {

  .hello {
    margin: 10% auto 5% 0;
    h1 {
      .iam {
        background: $text-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: x-large;
        margin-bottom: 2%;
      }
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .info {

    .letter {
      background: $text-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: large;
      margin-bottom: 50px;
    }

    .contact {
      h4 {
        margin-bottom: 20px;
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

    .contact-info {
      font-weight: bolder;
      font-size: medium;

      .contact-icon {
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;

      }
      .contact-text {
        background: $text-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;

      }
    }
    }
  }
}


.made-with {
  background: -webkit-linear-gradient($primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_style {
  height: 40px;
  vertical-align: middle;
  animation: logo infinite 20s linear;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}