.container {
    position: relative;
}

.page {
    position: absolute;
    left: 15px;
    right: 15px;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

/* /////////////////////////////////////////////////////////// */


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-family: Arial;
    font-size: 16px;
    background: aliceblue;
}

.sidebar {
    position: absolute;
    width: 85%;
    height: 100vmin;
    background: #312450;
    font-size: 0.65em;
}

.nav {
    height: 100vmin;
    position: absolute;
    margin: 0 15%;
    text-align: center;
    font-weight: bold;
}

.nav ul {
    height: 100vmin;
    width: 100%;
    list-style: none;

li {
    position: relative;
    margin: 8vmin 0;

a {
    line-height: 5vmin;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: rgba(#FFF, 0.35);
    display: block;
    transition: all ease-out 300ms;

  &.active {
    color: white;
  }

  &:not(.active)::after {
    opacity: 0.2;
  }

  &:not(.active):hover {
    color: rgba(#FFF, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #5e42a6, #b74e91)
  }

}
}
}


